<!--
  Copyright 2018 CS Systèmes d'Information

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-11 parameterName">
            {{parameter.label}}
        </div>
        <!-- Info hover-button for tooltyping parameter description -->
        <div class="col-xs-1 nopadding" tooltip-placement="left" uib-tooltip="{{parameter.desc}}">
            <span class="glyphicon glyphicon-info-sign"></span>
        </div>
    </div>
    <div class="col-xs-12">
        <div ng-repeat="f in parameter.value" class="row">
            <div class="filter col-xs-3">
                <!--Search bar with input-->
                <input type="text" list="Md_Filter" ng-model="f.meta_name" class="form-control filter-left filterInput"  >
                <datalist id="Md_Filter" class="filterSelect">
                    <option ng-repeat="item in parameter.keys" value='{{item}}'>
                </datalist>
            </div>
            <div class="col-xs-3 filter">
                <select class="form-control tinypadding filter-mid"
                        ng-model="f.comparator"
                        ng-blur="parameter.onEvent(wfCtrl.focusedNode.data)">
                    <option value="="> =</option>
                    <option value="!="> !=</option>
                    <option value="<"> <</option>
                    <option value="<="> ≤</option>
                    <option value=">"> ></option>
                    <option value=">="> ≥</option>
                    <option value="like"> like</option>
                    <option value="not like"> not like</option>
                    <option value="in"> in</option>
                    <option value="not in"> not in</option>
                    <option value="in table"> in table</option>
                </select>
            </div>

            <div ng-hide="parameter.dov && parameter.dov[f.meta_name] == 'date'" class="col-xs-4 filter">
                <input type="text"
                       class="form-control filter-right"
                       ng-model="f.value"
                       placeholder="value"
                       ng-blur="parameter.onEvent(wfCtrl.focusedNode.data)"
                />
            </div>
            <!-- Show only when meta typed in metadata textbox is matched with a date type -->
            <div ng-show="parameter.dov && parameter.dov[f.meta_name] == 'date'" class="col-xs-4 filter">
                <datepicker date-format="yyyy-MM-dd HH:mm:ss">
                    <input class="form-control filter-right" ng-model="f.value" type="text" placeholder="date" />
                </datepicker>
            </div>
            <div class="col-xs-1">
                    <span class="btn btn-warning btn-xs btn-list"
                          ng-click="wfCtrl.delItem(parameter,f); parameter.onEvent(wfCtrl.focusedNode.data)">
                    <span class="glyphicon glyphicon-minus">
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-1">
        <span class="btn btn-info btn-xs btn-list" ng-click="parameter.value.push({});"><!-- When Plus is clicked, add a new blank child to the model -->
            <span class="glyphicon glyphicon-plus">
            </span>
        </span>
</div>
</div>
