<!--
  Copyright 2018 CS Systèmes d'Information

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<div class="col-xs-3 parameterName">
    {{parameter.label}}
</div>
<div class="col-xs-8">

    <div class="input-group"
         ng-show="parameter.dov">
        <span class="input-group-addon"
              ng-click="wfCtrl.focusedNode.data.op_info.init()">
            <div class="btn-link btn-xs">
                <span class="glyphicon glyphicon-refresh"
                      title="Click to refresh the table list">

                </span>
            </div>
        </span>

        <!--Search bar with input-->
        <input autocomplete="none" type="text" list="Table_list" ng-model="parameter.value" class="form-control" id="filter_input" >
        <datalist id="Table_list">
            <option ng-repeat="item in parameter.dov" value="{{item}}">
        </datalist>
    </div>
</div>
<!-- Info hover-button for tooltyping parameter description -->
<div class="col-xs-1 nopadding" tooltip-placement="left" uib-tooltip="{{parameter.desc}}">
    <span class="glyphicon glyphicon-info-sign"></span>
</div>