<!--
  Copyright 2018 CS Systèmes d'Information

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!-- wfSaveAsModal -->
<div class="modal fade" id="wfSaveAsModal" tabindex="-1" role="dialog" aria-labelledby="wfSaveAsModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="wfSaveAsModalTitle">Save workflow</h4>
            </div>
            <div class="modal-body ">
                <div class="parameterName">Workflow name</div>
                <input type="text" class="form-control" ng-model="wfCtrl.current.new_name">
                <br/>
                <div class="parameterName">Workflow description</div>
                <input type="text" class="form-control" ng-model="wfCtrl.current.new_description">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        ng-click="wfCtrl.save(wfCtrl.current.new_name,wfCtrl.current.new_description)"
                        ng-class="{disabled:!wfCtrl.current.new_name}">
                    <span class="glyphicon glyphicon-plus"></span> Save as
                </button>
            </div>
        </div>
    </div>
</div>
