<!--
  Copyright 2018 CS Systèmes d'Information

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!-- This file aims to display the visualization module -->
<div id="VizModule" style="height:500px;height: calc(100% - 45px); margin-top: 5px;">
    <!--Pagination.js CSS-->
    <link href="../css/pagination.css" rel="stylesheet" type="text/css">
    <!-- Header part of VizModule : Contains menu and breadcrumb -->
    <div id="VizModuleHeader">
        <div>
            <div class="input-group" style="display:inline-block;">
                <select ng-model="vizCtrl.outputViz"
                        class="form-control"
                        ng-options="output.label for output in wfCtrl.focusedNode.data.outputConnectors"
                        ng-change="vizCtrl.VizMode = vizCtrl.suggestVizTool(vizCtrl.outputViz.type);"
                        style="border-radius:4px;">
                </select>
            </div>
            <div class="input-group"
                 ng-show="vizCtrl.outputViz"
                 style="display:inline-block;">
                <select ng-model="vizCtrl.VizMode"
                        class="form-control"
                        ng-options="vt.name for vt in vizCtrl.engine.getAvailableVizTools(vizCtrl.outputViz.type) track by vt.name"
                        style="display: inline-block;width:150px;border-radius:4px;">
                </select>
            </div>
            <button class="btn btn-default"
                    ng-click="vizCtrl.engine.addViz(vizCtrl.VizMode.name,vizCtrl.outputData(wfCtrl),true);"
                    style="display:inline-block;vertical-align:top;height:34px;"
                    ng-show="(vizCtrl.VizMode && vizCtrl.VizMode !== '') && (vizCtrl.outputViz && vizCtrl.outputViz != '')">
                <span class="IKATS_eye glyphicon glyphicon-eye-open"></span>
            </button>
        </div>
        <button class="btn btn-info"
                data-target="#vtDescModal"
                data-toggle="modal"
                ng-click="vizCtrl.viztool.getInfos(vizCtrl.breadCrumbVizMode)"
                style="display: inline-block;float: right;height: 34px;"
                ng-show="vizCtrl.breadCrumbVizMode">
            <span class="glyphicon glyphicon-question-sign"></span> {{vizCtrl.breadCrumbVizMode}} help
        </button>
    </div>
    <div id="VizModuleBreadCrumb">
        <div class="bread-crumb">
            <span ng-repeat="vt in vizCtrl.engine.vizToolsStack" style="cursor:pointer; white-space: nowrap"
                  ng-click="vizCtrl.engine.show($index)">
                <a ng-class="{selected: vizCtrl.engine.currentVtIndex == $index}">
                    <span style="display:inline"
                          ng-show="$index!=0"
                          ng-click="vizCtrl.engine.removeFromStack($index)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </span>
                    <div style="display:inline">{{vt.name}}</div>
                </a>
            </span>
        </div>
    </div>
    <div id="VizModuleContent">
    </div>
    <script src="../lib/pagination/pagination.js"></script>

</div>
